.header {
    width: 99vw;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #7e19c2;
    padding: 0 7%;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-style: inherit;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600px;
    color: #f1b6cc;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #f1b6cc;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }

  @media screen and (max-width:600px){
    .header {
      width:90vw;
      height: 4rem;
      padding: 0 2%;
      margin-right: 2rem;
    }
    .logo {
      font-size: 0.8rem;
      color: white;
      font-weight: bold;
      font-style: inherit;
    }
    .header ul {
      display: flex;
      align-items:center;
    }
    
    .header li {
      margin-left: 0.5rem;
    }
    
    .header a {
      text-decoration: none;
      font-size: 0.5rem;
      font-weight: bold;
      color: #f1b6cc;
    }
    
    .header a:hover,
    .header a:active,
    .header a.active {
      color: white;
    }
    
    .badge {
      background-color: #f1b6cc;
      font-weight: bold;
      color: white;
      border-radius: 1rem;
      padding: 0 0.4rem;
      margin-left: 0.2rem;
    }  
  }
  